ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.3;
  font-size: 22px;
  color: #4f4f4f;
}

.back-link {
  font-size: 18px;
  text-decoration: none;
  color: #182e46;
  padding: 15px;
  border-radius: 4px;
}

.back-link:hover {
  background-color: #eee;
}

.success {
  background: forestgreen;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
}

.failure {
  background: crimson;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
}

.back-link {
    margin-top: 50px;
}
