.Todos {
  padding: 30px;
  margin-top: 40px;
}

.title {
  margin-top: 30px;
}

.Todos-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 4px;
  margin-bottom: 3px;
}

.Todos-item:hover {
  background-color: #eee;
}

.Todos-item-link {
  text-decoration: none;
  width: 100%;
  padding: 0 10px;
  color: #182e46;
}

.success {
  background: forestgreen;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;

}

.failure {
  background: crimson;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
